@use '../../utils/cssConstants.scss';

.search-form {
  padding: 70px 70px 0;
  box-sizing: border-box;

  &__bar {
    box-sizing: border-box;
    padding: 0 0 0 25px;
    width: 100%;
    height: 72px;
    opacity: 0.2;
    border: 1.5px solid #aaaaaa;
    border-radius: 8px;
    font-family: cssConstants.$font-inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__switch {
    align-self: flex-start;
    margin: 26px 0 40px;
    display: flex;
    flex-direction: row;

  }

  &__switch-label {
    font-family: cssConstants.$font-inter;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding: 0 0 0 14px;
  }

  &__button-submit {
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    width: 100px;
    height: 52px;
    background-color: cssConstants.$color-button-blue;
    font-family: cssConstants.$font-inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border: none;
    border-radius: 5px;
    align-self: flex-end;
    transition: 0.3s;

    &:focus {
      scale: 98%;
    }
  }

  &__br {
    width: 100%;
    height: 1px;
    background-color: rgba(#aaa, $alpha: 0.2);
  }
}

@media (max-width: 768px) {
  .search-form {
    padding: 70px 30px 0;

    &__switch {
      margin: 26px 0 47px;
    }
  }
}

@media (max-width: 600px) {
  .search-form {
    padding: 70px 14px 0;

    &__bar {
      box-sizing: border-box;
      padding: 0 0 0 12px;

      height: 59px;
      font-size: 16px;
      line-height: 16px;
    }

    &__button-submit {
      position: absolute;
      right: 6px;
      top: 6px;
      bottom: 6px;
      width: 80px;
      height: 44px;
    }

    &__switch {
      margin: 26px 0 60px;
    }

    &__switch-label {
      font-size: 11px;
      line-height: 18px;
      padding: 0 0 0 13px;
    }
  }
}
